.draggableWord {
  padding: 4px 8px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.15s ease-in-out;
  width: min-content;
}

.text {
  font-size: 22px;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.active {
  z-index: 10;
}

.visible {
  transform: scale(1);
  opacity: 1;
}

.positionTooltip {
  margin-top: 5px;
  margin-left: 25px;
}

.position {
  display: flex;
  flex-direction: column;
}
