.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  color: #ffffff;
}

.header h1 {
  font-size: 24px;
}

.content {
  margin: 0 auto;
  margin-bottom: 24px;
  flex-grow: 1;
  width: calc(100vw - 48px);
  max-width: 1400px;
  max-height: 800px;
  display: flex;
}

.wordsMenu {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  margin-right: 24px;
}

.playerContainer {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.player {
}
